body {
    background: url("../Assets/images/profile-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
.btn {
  background-color: #f4476b;
}

.btn:hover {
  background-color: #eb3b60;
}